# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraform directory
.terraform/

# Ignore sensitive files
secrets.auto.tfvars
terraform.tfvars

# Ignore terraform lock file
.terraform.lock.hcl